@use '../../scss/variables' as *;

.list {
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 39px;

	&Item {
    display: flex;
    align-items: center;
    gap: 1em;
		&[data-is-valid='true'] {
			color: $success-color;
		}
		&[data-is-valid='false'] {
			color: $danger-color;
		}
	}
}
