@use "@styles/variables" as *;
@use "@styles/font" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $new-gray-color;
  padding: 24px;
  border-radius: 8px;
  transition: background-color $duration;

  .header {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 8px;

    > div {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(20px) translateY(-20px);
    }
  }

  .option {
    color: $colour-primary;
  }

  .optionRemove {
    color: $colour-error-100;
  }

  .title {
    color: $colour-primary;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  .subtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    line-height: 21.6px;
    margin-bottom: 25px;
    color: #56658f;

    &:before {
      content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.6671 2.82922L11.121 2.87124C11.9278 2.94595 12.4726 3.21679 12.8315 3.59788C13.1614 3.94802 13.3747 4.43418 13.4556 5.06004H2.54537C2.62622 4.43418 2.8396 3.94802 3.16943 3.59788C3.5284 3.21679 4.07313 2.94595 4.87991 2.87124L5.33381 2.82922V2.83337H5.83381H10.1671H10.6671V2.82922Z" fill="%2356658F" stroke="%2356658F"/><path d="M6.83333 11.6667C6.83333 11.357 6.70498 11.0627 6.50298 10.8495L6.47927 10.8245L6.45235 10.803L6.40235 10.763L6.35235 10.723L6.3354 10.7094L6.31735 10.6974C6.25488 10.6557 6.18648 10.6192 6.11218 10.5911C6.04333 10.5597 5.96935 10.5356 5.89075 10.5217C5.66802 10.4786 5.43613 10.4991 5.22202 10.5913C5.06835 10.6524 4.95381 10.7363 4.85885 10.8217L4.84405 10.8351L4.83036 10.8495C4.62835 11.0627 4.5 11.357 4.5 11.6667C4.5 11.9764 4.62835 12.2707 4.83036 12.4839L4.84405 12.4984L4.85885 12.5117C4.95491 12.5982 5.071 12.683 5.22738 12.7442C5.35707 12.7974 5.50677 12.8334 5.66667 12.8334C5.74744 12.8334 5.82089 12.8224 5.85858 12.8168C5.86317 12.8161 5.86723 12.8155 5.87071 12.815L5.87073 12.8152L5.8822 12.8133C5.96398 12.7996 6.04084 12.7749 6.11218 12.7423C6.18327 12.7155 6.24895 12.6809 6.30921 12.6415C6.35736 12.6112 6.39521 12.5794 6.41383 12.5635L6.44157 12.5396L6.45235 12.5305L6.47927 12.509L6.50298 12.4839C6.70498 12.2707 6.83333 11.9764 6.83333 11.6667ZM6.83333 11.6667C6.83333 11.9764 6.96168 12.2707 7.16369 12.4839L7.17298 12.4937L7.1828 12.503C7.39602 12.705 7.69029 12.8334 8 12.8334C8.30971 12.8334 8.60398 12.705 8.81721 12.503L8.82702 12.4937L8.83631 12.4839C9.03832 12.2707 9.16667 11.9764 9.16667 11.6667M6.83333 11.6667C6.83333 11.357 6.96169 11.0627 7.16369 10.8495L7.17298 10.8397L7.17311 10.8398C7.40456 10.6084 7.71416 10.5084 8 10.5084C8.28584 10.5084 8.59544 10.6084 8.82689 10.8398L8.83644 10.8494L8.83631 10.8495C9.03832 11.0627 9.16667 11.357 9.16667 11.6667M9.16667 11.6667C9.16667 11.357 9.29502 11.0627 9.49702 10.8495L9.50632 10.8397L9.50645 10.8398C9.7379 10.6084 10.0475 10.5084 10.3333 10.5084C10.6192 10.5084 10.9288 10.6084 11.1602 10.8398L11.1698 10.8494L11.1696 10.8495C11.3716 11.0627 11.5 11.357 11.5 11.6667C11.5 11.9764 11.3716 12.2707 11.1696 12.4839L11.1603 12.4937L11.1505 12.503C10.9373 12.705 10.643 12.8334 10.3333 12.8334C10.0236 12.8334 9.72935 12.705 9.51613 12.503L9.50632 12.4937L9.49702 12.4839C9.29502 12.2707 9.16667 11.9764 9.16667 11.6667ZM6.83333 9.33339C6.83333 9.02369 6.70498 8.72941 6.50298 8.51619L6.50311 8.51606L6.49355 8.5065C6.38204 8.39499 6.25101 8.31303 6.10888 8.25704C5.67248 8.07304 5.16619 8.1801 4.83978 8.50651L4.83965 8.50638L4.83036 8.51619C4.62835 8.72941 4.5 9.02369 4.5 9.33339C4.5 9.6431 4.62835 9.93737 4.83036 10.1506L4.83965 10.1604L4.84946 10.1697C5.06269 10.3717 5.35696 10.5001 5.66667 10.5001C5.97637 10.5001 6.27064 10.3717 6.48387 10.1697L6.49368 10.1604L6.50298 10.1506C6.70498 9.93737 6.83333 9.6431 6.83333 9.33339ZM6.83333 9.33339C6.83333 9.02369 6.96168 8.72941 7.16369 8.51619L7.17298 8.50638L7.17311 8.50651C7.28463 8.39499 7.41566 8.31303 7.55778 8.25704C7.99418 8.07304 8.50048 8.1801 8.82689 8.50651L8.83644 8.51606L8.83631 8.51619C9.03832 8.72941 9.16667 9.02369 9.16667 9.33339M6.83333 9.33339C6.83333 9.6431 6.96168 9.93737 7.16369 10.1506L7.17298 10.1604L7.18279 10.1697C7.39602 10.3717 7.6903 10.5001 8 10.5001C8.08077 10.5001 8.15422 10.4891 8.19191 10.4835C8.1965 10.4828 8.20056 10.4822 8.20404 10.4817L8.20406 10.4818L8.21553 10.4799C8.29731 10.4663 8.37417 10.4416 8.44552 10.409C8.51982 10.381 8.58821 10.3444 8.65068 10.3028L8.66874 10.2907L8.68568 10.2772L8.73568 10.2372L8.78568 10.1972L8.8126 10.1756L8.83631 10.1506C9.03832 9.93737 9.16667 9.6431 9.16667 9.33339M9.16667 9.33339C9.16667 9.6431 9.29502 9.93737 9.49702 10.1506L9.50632 10.1604L9.51613 10.1697C9.72936 10.3717 10.0236 10.5001 10.3333 10.5001C10.4104 10.5001 10.4893 10.4887 10.5292 10.4829C10.5321 10.4825 10.5349 10.4821 10.5374 10.4817L10.5374 10.4818L10.5489 10.4799C10.6307 10.4663 10.7075 10.4416 10.7789 10.409C10.8532 10.3809 10.9215 10.3444 10.984 10.3028L11.0021 10.2907L11.019 10.2772L11.119 10.1972L11.1459 10.1756L11.1696 10.1506C11.3716 9.93737 11.5 9.6431 11.5 9.33339C11.5 9.02369 11.3716 8.72941 11.1696 8.51619L11.1459 8.49116L11.119 8.46962L11.019 8.38963L11.0021 8.37607L10.984 8.36403C10.9215 8.32239 10.8532 8.28583 10.7789 8.25782C10.71 8.22637 10.636 8.20223 10.5574 8.18833C10.3347 8.14522 10.1028 8.16578 9.8887 8.258C9.73502 8.31906 9.62048 8.40295 9.52552 8.48841L9.51072 8.50173L9.49702 8.51619C9.29502 8.72941 9.16667 9.02369 9.16667 9.33339ZM2.66667 7.06006H13.3333C13.4239 7.06006 13.5 7.1362 13.5 7.22673V11.3334C13.5 12.2567 13.2691 12.9498 12.8419 13.4098C12.421 13.8631 11.738 14.1667 10.6667 14.1667H5.33333C4.26197 14.1667 3.57899 13.8631 3.15806 13.4098C2.73091 12.9498 2.5 12.2567 2.5 11.3334V7.22673C2.5 7.1362 2.57614 7.06006 2.66667 7.06006Z" fill="%2356658F" stroke="%2356658F"/></svg>');
      display: block;
      margin-bottom: -5px;
    }
  }

  .more {
    font-size: 12px;
    font-weight: 500;
    line-height: 21.6px;
    color: $primary-color;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
  }

  .top {
    > p {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      margin-bottom: 8px;
      color: #8e9abb;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

      &[data-is-assigned="true"] {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $success-color;

        &:before {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $success-color;
        }
      }

      &[data-is-assigned="false"] {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $danger-color;

        &:before {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $danger-color;
        }
      }
    }
  }

  .bottom {
    justify-self: flex-end;
    border-top: 1px dashed $new-gray-color;
    margin-left: -25px;
    margin-right: -25px;
    padding: 24px 24px 0;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    p {
      @extend %text-caption;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: $colour-base-600;
    }
  }
  &:hover {
    background-color: $colour-base-200;
  }
}

.description {
  font-size: 16px;
  font-weight: 600;
  line-height: 28.8px;
  margin-top: 20px;
  color: #8e9abb;
}

.modalContent {
  h3 {
    margin-top: 40px;
  }
}
