@use '../../../../../scss/variables' as *;

.wrapper {
	margin-top: 40px;

	.select {
		margin-top: 30px;
		:global {
			.multi-select__title {
				font-weight: 600;
			}
			.multi-select__checkbox {
				grid-column: span 3;
			}

			@media screen and (min-width: $sm) {
				.multi-select__options {
					grid-template-columns: repeat(4, 1fr);
				}

				.multi-select__checkbox {
					grid-column: span 1;
				}
			}
		}
	}

	.button {
		margin-left: auto;
		margin-top: 40px;
		padding: 16px 32px;
		font-weight: 600;
	}
}

.search {
	display: flex;
	width: 100%;
	padding: 12px 20px 14px 14px;
	background-color: #fff;
	border-radius: 15px;

	input {
		margin-top: -12px;
		margin-bottom: -14px;
		color: $dark-color;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.16px;
		border: none;
		background-color: transparent;
		width: 100%;
		padding-right: 10px;
		outline: none;

		&::placeholder {
			color: $dark-color;
		}
	}

	button {
		background-color: transparent;
		cursor: pointer;
	}
}

.more {
	display: flex;
	align-items: center;
	gap: 18px;
	justify-content: space-between;
	width: 100%;
	padding: 12px 20px 14px 14px;
	background-color: #fff;
	border-radius: 15px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.16px;
	cursor: pointer;
}

.filtersGroup {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr;

	> * {
		grid-column: span 1;
	}

	@media screen and (min-width: $sm) {
		grid-template-columns: 1fr 1fr;
	}
	@media screen and (min-width: $lg) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media screen and (min-width: $xl) {
		grid-template-columns: 1fr max-content max-content max-content max-content;
	}
}

.clear {
	grid-column: 1/-1;
	margin-top: 20px;
	max-width: max-content;
	color: $link-color;
	font-size: 14px;
	font-weight: 600;
	text-decoration-line: underline;
	cursor: pointer;

	@media screen and (min-width: $lg) {
		margin-top: 10px;
	}
}

.topicsSelect {
	min-width: unset !important;
	max-width: 100%;
}
