@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/font" as *;

.flexContainer {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding-bottom: 36px;
  @include media-lg-and-up {
    align-items: flex-start;
    flex-direction: row;
  }

  .box {
    padding: 32px 24px;
    border: 1px solid $colour-base-400;
    border-radius: 8px;
  }
  .boxMobile {
    padding: 32px 24px;
    border: 1px solid $colour-base-400;
    border-radius: 8px;
    @include media-lg-and-up {
      padding: 0;
      border: none;
    }
  }

  .boxOuter {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include media-lg-and-up {
      padding: 32px 24px;
      border: 1px solid $colour-base-400;
      border-radius: 8px;
    }
  }

  .title {
    @extend %text-subtitle-1;
    margin-bottom: 20px;
    color: $colour-primary;
  }

  .subtitle {
    @extend %text-button-md;
    color: $colour-base-800;
    & span {
      color: $colour-secondary;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &Item {
      @extend %text-button-sm;
      display: flex;
      align-items: center;
      gap: 8px;
      color: $colour-base-800;
    }
  }

  .btn {
    @extend %text-button-md;
    margin-top: 32px;
    font-weight: 600;
  }

  .btnMobile {
    @extend %text-button-md;
    margin-top: 32px;
    font-weight: 600;
    @include media-lg-and-up {
      display: none;
    }
  }

  .btnDesktop {
    @extend %text-button-md;
    display: none;
    font-weight: 600;
    @include media-lg-and-up {
      display: block;
    }
  }
}
