@use '../../scss/variables' as *;

.checkbox-dropdown {
	position: relative;
	font-size: 16px;
	color: $dark-color;
	height: 50px;
	border-radius: 15px;
	border-color: transparent;
	cursor: pointer;

	.dropdown-label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1rem;
		height: 100%;
		background-color: #fff;
		border-radius: 15px;
		box-shadow: 0 2px 4px rgba(0,0,0,0.1);

		&:hover {
			background-color: #f0f0f0;
		}
	}

	.dropdown-list {
		display: none; // Ukryj na początek
		position: absolute;
		z-index: 100;
		width: 100%;
		background-color: #fff;
		border: 1px solid $dark-color;
		border-top: none;
		border-radius: 0 0 15px 15px;
		box-shadow: 0 8px 16px rgba(0,0,0,0.1);
		max-height: 250px;
		overflow-y: auto;

		&.show {
			display: block; // Pokaż listę
		}

		.checkbox-item {
			display: flex;
			align-items: center;
			padding: 0.5rem 1rem;

			&:hover {
				background-color: #f0f0f0;
			}

			input[type="checkbox"] {
				margin-right: 0.5rem;
			}
		}
	}
}
