@use '../../../../../scss/font' as *;
@use '../../../../../scss/variables' as *;

.userCol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 20px;
        display: block;
        object-position: center;
    }

    span {
        @extend %text-body-2;
        color: $colour-primary;
    }
}

.wrapper {
    margin-bottom: 48px; 
}

.title {
    @extend %text-subtitle-1;
    color: $colour-primary;
    margin-bottom: 24px;
}

.capitalize {
    text-transform: capitalize;
}

.dotsCell {
    padding: 0;
}
