@use '../../../../scss/variables' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 25px;
}

.item {
	display: flex;
	gap: 11px;
  max-width: 220px;
	font-size: 10px;
	font-weight: 400;
	line-height: 14px;
	color: $dark-color;

	svg {
		min-width: 20px;
	}
}
