@use '@styles/variables' as *;
@use '@styles/font' as *;

$sidebar-bg: $colour-primary;
$sidebar-text: $colour-base-200;

.fullSidebar {
  --transition-base: 0.3s;

  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: $sidebar-bg;
  z-index: 30;
  transition: var(--transition-base);
  left: 0;
  top: 0;
  max-width: $layout-quick-sidebar-width;

  .logo {
    height: $layout-topbar-height;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0 24px;
    cursor: pointer;
  }

  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    padding: 24px 12px;
    transition: var(--transition-base);
  }

  .topItems {
    flex-grow: 1;
  }

  .btn {
    display: grid;
    grid-template-columns: 24px 1fr;
    width: 100%;
    gap: 12px;
    padding-left: 17px;
    transition: calc(var(--transition-base) * 0.5);

    span {
      text-align: left;
      font-size: 14px;
    }
  }

  @media screen and (max-width: $sm - 1) {
    transform: translateX(-100%);
  }

  &.fullSidebarOpen {
    left: 0;
    max-width: $layout-full-sidebar-width;

    .list {
      padding: 24px;
    }

    .btn {
      padding-left: 8px;
    }


    @media screen and (max-width: $sm - 1) {
      transform: translateX(0);
      width: 100vw;
      max-width: unset;
    }
  }
}

.tooltip {
  background-color: $sidebar-bg !important;
  padding: 10px !important;
}

.tooltipArrow {
  color: $sidebar-bg !important;
}

.hamburger {
  opacity: 0;
  transform: translateY(-300%);
  transition: var(--transition-base);
  pointer-events: none;

  span {
    background-color: $sidebar-text;
  }
}

.fullSidebarOpen {
  .hamburger {
    pointer-events: auto;
    transform: translateX(0);
    opacity: 1;
  }
}

.btn {
  cursor: pointer;
  align-items: center;
  background-color: $sidebar-bg;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: calc($layout-quick-sidebar-width - 8px);

  &[data-is-current="true"] {
    background-color: $colour-secondary;

    &:hover {
      background-color: $colour-secondary;
      cursor: default;
    }
  }

  &:hover {
    background-color: lighten($sidebar-bg, 10%);
  }

  span {
    color: $sidebar-text;
    font-size: 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  svg {
    color: $sidebar-text;
    height: 24px;
    width: 24px;
  }
}