@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/font" as *;

.title {
  @extend %text-button-md;
  color: $colour-primary;
  margin-bottom: 4px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height:100%;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  padding: 4px;

  &:hover {
    background-color: $colour-base-200;
  }

  &.isSelected {
    background-color: $colour-base-400;
  }
}

.message {
  @extend %text-caption;
  color: $colour-base-800;
  font-size: 12px;
}

.unread {
  flex-grow: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  p {
    @extend %text-button-sm;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $colour-secondary;
    color: $colour-base-000;
    text-align: center;
    line-height: 20px;
  }
}
