@use '@styles/variables' as *;

.main {
	min-height: calc(100vh - 73px);
	background-color: $light-color;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	padding-top: 40px;
}

.container {
	.list {
		display: flex;
		flex-wrap: wrap;
		gap: 32px 20px;

		> * {
			flex: 1 0 300px;
		}

		@media screen and (min-width: $lg) {
			> * {
				max-width: 336px;
			}
		}
	}
}
