@use '@styles/variables' as *;

.main {
	min-height: calc(100vh - 73px);
	background-color: $light-color;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	padding-top: 40px;
}

.container {
	.list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 32px 20px;
		margin-top: 32px;

		> * {
			grid-column: 1/-1;
		}
		
		@media screen and (min-width: $sm) {
			> * {
				grid-column: span 3;
			}
		}
		
		@media screen and (min-width: $md) {
			> * {
				grid-column: 1/-1;
			}
		}

		@media screen and (min-width: $lg) {
			> * {
				grid-column: span 3;
			}
		}

		@media screen and (min-width: $xl) {
			> * {
				grid-column: span 2;
			}
		}
	}
}
