@use '../../scss/variables' as *;

.formFields {
	margin-top: 37px;
}

.input {
	margin-bottom: 24px;
}

.password {
	margin-bottom: 11px;
}

.submit {
	margin-bottom: 20px;
	margin-top: 40px;
	padding: 21px;
	font-size: 18px;
	font-weight: 600;
}
