@use '@styles/variables' as *;

.container {
  height: $layout-topbar-user-info-height;
  top: $layout-topbar-height;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding: 12px 24px 12px $layout-quick-sidebar-width;
}

.content {
  color: $colour-base-000;
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr;
}

.isSidebarOpen {
  padding-left: $layout-full-sidebar-width;
}

.text {
  color: $colour-base-000 !important;

  & a {
    color: $colour-base-000 !important;
  }
}

.error {
  background: $colour-error-100;
}

.warning {
  background: $colour-warning-100;
}

.info {
  background: $colour-primary;
}