@use '../../../scss/variables' as *;

.mobileDescription {
	background-color: $light-color;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&Text{
		margin-bottom: -40px;
	}

	@media screen and (min-width: $lg) {
		display: none;
	}
}


