@use '../../../../scss/variables' as *;

.navbar {
	position: fixed;
	left: 50%;
	top: 0;
	width: 100%;
	max-width: $xl;
	z-index: 999;
	transform: translateX(-50%);

	&:before {
		content: '';
		position: absolute;
		z-index: 0;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $secondary-color;
	}

	:global(.container) {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
		padding-top: 26px;
		padding-bottom: 26px;
	}

	&Button {
		position: relative;
		padding: 10px;
		width: 37px;
		height: 30px;
		background-color: transparent;
		cursor: pointer;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 25px;
			height: 2px;
			border-radius: 1px;
			background-color: $light-color;
			transition: transform 0.24s;

			&:first-of-type {
				transform: translateX(-50%) translateY(5px);
			}
			&:last-of-type {
				transform: translateX(-50%) translateY(-5px);
			}
		}
	}

	&Menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: -2;
		transform: translateY(-100%);
		background-color: $secondary-color;
		width: 100%;
		padding: 0 53px 40px;
		transition: transform 0.24s;
		transform-origin: top;

		&Space {
			margin: 54px -53px 24px;
			height: 1px;
			background-color: $light-color;
		}

		&Item {
			display: flex;
			align-items: center;
			width: 100%;
			gap: 10px;
			padding: 16px 0;
			color: $light-color;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			text-decoration: none;
			letter-spacing: 0.16px;
			background-color: transparent;
			cursor: pointer;
			transition: color 0.24s, background-color 0.24s;

			svg {
				:global {
					.on-hover {
						transition: fill 0.24s;
					}
				}
			}

			&:hover {
				color: $yellow-color;

				&:not([data-highlited='true']) {
					svg {
						:global {
							.on-hover {
								fill: $yellow-color;
							}
							.on-hover--stroke {
								stroke: $yellow-color;
							}
						}
					}
				}
			}

			&[data-highlited='true'] {
				max-width: 194px;
				padding: 16px 30px;
				margin-left: -28px;
				margin-bottom: 28px;
				border-radius: 100px;
				background-color: $yellow-color;
				font-weight: 600;
				color: $dark-color;
				transition: background-color 0.24s;

				&:hover {
					background-color: $light-color;
				}
			}
		}
	}

	&Expanded {
		.navbarMenu {
			transform: translateY(0);
		}

		.navbarButton {
			span {
				&:first-of-type {
					transform: translateX(-50%) translateY(0) rotate(45deg);
				}
				&:last-of-type {
					transform: translateX(-50%) translateY(0) rotate(-45deg);
				}
			}
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		box-shadow: 0 0 14px rgba(70, 80, 90, 0.2);
		opacity: 0;
		transition: opacity 0.5s;
	}

	@media screen and (min-width: $md) {
		box-shadow: none;

		&Button {
			display: none;
		}

		&Menu {
			position: relative;
			z-index: 1;
			display: flex;
			align-items: center;
			background-color: transparent;
			gap: 20px;
			width: auto;
			padding: 0;
			box-shadow: none;
			transform: translateY(0) scale(1);
			opacity: 1;
		}
	}

	@media screen and (min-width: $lg) {
		:global {
			.container {
				padding: 26px 32px;
			}
		}
	}
}
