@use '../../scss/variables' as *;

.content {
	min-height: calc(100vh - 64px);
	margin-top: 64px;
	background-color: $colour-base-000;
	overflow:hidden;
	@media screen and (min-width: $md) {
		min-height: 100vh;
		margin-top: 0;
		margin-left: 322px;
	}
}
