@use '../../../../scss/variables' as *;

.wrapper {
	position: relative;
	z-index: 9;
	max-width: max-content;
	margin-left: auto;
	padding-top: 24px;
	padding-right: 20px;
}

.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: $light-color;
	cursor: pointer;

	svg {
		width: 95%;
	}
}

.counter {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22px;
	height: 22px;
	font-size: 16px;
	font-weight: 600;
	color: $light-color;
	line-height: 1em;
	background-color: $danger-color;
	border-radius: 50%;
	transform: translateY(50%);
}

.notifications {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	width: 248px;
	padding: 20px 20px 14px 17px;
	border-radius: 8px;
	background-color: $light-color;
	transform: translateY(calc(100% + 23px)) translateX(-15px);
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.34s;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid $light-color;
		transform: translateY(-100%) translateX(-8px);
	}

	&[data-is-visible='true'] {
		opacity: 1;
		visibility: visible;
	}
}

.close {
	align-self: flex-end;
	max-width: max-content;
	background-color: transparent;
	cursor: pointer;
}
