@use '../../../../../scss/variables' as *;

.wrapper {
	width: 100%;
	.userName {
		text-align: center;
		margin-top: 26px;

		small {
			display: block;
			margin-top: 11px;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
		}
	}

	.contact {
		display: flex;
		gap: 12px;
		flex-wrap: wrap;
		justify-content: center;
		padding: 20px;
		border-top: 1.5px solid #eff4f9;
		border-bottom: 1.5px solid #eff4f9;

		li {
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0.14px;
		}
	}

	.smallTitle {
		margin-top: 30px;
		margin-bottom: 15px;
		font-size: 14px;
	}

	.smallText {
		font-size: 14px;
	}

	.skills {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	.button {
		display: none;
	}

	@media screen and (min-width: $lg) {
		grid-area: description;
		padding-left: 40px;
		border-left: 1.5px solid #eff4f9;

		.userName {
			text-align: left;
			margin-top: 0;

			small {
				margin-top: 6px;
			}
		}

		.skills {
			width: calc(100% - 195px);
		}

		.button {
			display: block;
			position: absolute;
			right: 40px;
			bottom: 30px;
			max-width: max-content;
			margin-left: auto;
			padding: 16px 32px;
			font-size: 16px !important;
			font-weight: 600;
			text-decoration: none;
		}

		.contact {
			justify-content: flex-start;
			padding: 11px 0;
		}
	}

	.languages {
		display: flex;
		align-items: center;
		gap: 11px;
		margin-top: 30px;
		margin-bottom: 25px;

		.smallTitle {
			margin: 0;
		}
	}

	.flag {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		border: 1px solid #d8d8d8;
		overflow: hidden;

		img {
			display: block !important;
			width: 22px !important;
			height: 22px !important;
			object-fit: cover;
		}
	}

	.socialMedia {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 22px;
		padding-top: 24px;
		border-top: 1px solid $new-gray-color;

		> * {
			flex: 1 0 200px;
		}
	}

	&[data-is-extended='true'] {
		.skills {
			width: 100%;
		}
	}

	@media screen and (max-width: calc($lg - 1px)) {
		&[data-is-extended='true'] {
			border-radius: 15px;
			background-color: $light-color;
			padding: 1px 18px 31px;

			.userName,
			.contact {
				display: none;
			}
		}
	}

	@media screen and (min-width: $lg) {
		&[data-is-extended='true'] {
			.button {
				display: none;
			}
		}
	}
}
