@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/font" as *;

.info {
  @extend %text-body-2;
  color: $colour-base-800;
  margin-bottom: 1.5rem;
}

.flexContainer {
  
  gap: 8px;
  @include media-md-and-up {
    display: flex;
  }
}

.button {
  display: block;
  width: 100%;
  padding: 1rem 2.5rem;
}

.modal {
  & h3 {
    padding-top: 32px;
    color: $colour-primary;
  }
}
