@use '../../../scss/variables' as *;

.wrapper {
	position: relative;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	background-color: $light-color;
	border-radius: 15px;
	padding: 32px 18px 40px;

	.button {
		max-width: max-content;
		padding: 16px 32px;
		font-size: 16px !important;
		font-weight: 600;
		text-decoration: none;
	}
	
	.tag {
		margin-bottom: 28px;
		font-size: 14px;
		font-weight: 600;
	}
	

	@media screen and (min-width: $lg) {
		grid-template-columns: max-content 1fr;
		padding: 39px 30px 30px;
		grid-template-areas: 'profile description' 'price description'  '. description';

		.button {
			display: none;
		}

		.tag {
			position: absolute;
			top: 32px;
			right: 40px;
		}
	}
}

