@use '../../scss/variables' as *;

.inline{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px - 14px;
}

.formFields{
  margin-top: 37px;

  .inline{
    margin-top: 13px;
  }
}

.emailInput{
  margin-bottom: 24px;
}

.submit{
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 21px;
  font-size: 18px;
  font-weight: 600;
}

.text{
  margin: 30px 0;
  text-align: center;
}
