@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/font" as *;

.title {
  font-size: 28px !important;
  padding-top: 32px;
  letter-spacing: -1px;
  color: $colour-primary;
  @include media-xl-and-up {
    font-size: 32px !important;
    padding-top: 40px;
  }
}

.container {
  padding: 0 4px;
  @include media-xl-and-up {
    padding: 0 8px;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  @include media-xl-and-up {
    grid-template-columns: 325px 1fr;
    gap: 20px;
  }
}
