@use "../../../scss/variables" as *;
@use "../../../scss/font" as *;

.PaginationSkeleton { 
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.wrapper {
    margin-bottom: 48px;
}

.title {
    @extend %text-subtitle-1;
    color: $colour-primary;
    margin-bottom: 24px;
}

.capitalize {
    text-transform: capitalize;
}

.dotsCell {
    padding: 0;
}

.header {
    margin-bottom: 24px;

    .title {
        @extend %text-subtitle-2;
        color: $colour-primary;
        font-weight: 700;
    }

    .title + .subtitle {
        margin-top: 16px;
    }

    .subtitle {
        @extend %text-button-md;
        color: $colour-base-800;

        a {
            @extend %text-button-md;
            color: $colour-secondary;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.userIdentity {
    padding:0 !important;
}