@use '../../scss/variables' as *;

.title {
	margin-bottom: 13px !important;
	font-size: 10px !important;
	font-weight: 700;
	line-height: 12px;
	letter-spacing: 0;
	text-transform: uppercase;
}

.wrapper {
	border-radius: 15px;
	padding: 13px 15px 23px;
	background-color: $gray-color;
}

.list {
	li {
    display: flex;
    gap: 7px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;

		&:before {
			content: url('data:image/svg+xml,<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 1L3.1 7L1 4.75" stroke="%23E17596" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		}

    &:not(&:last-child){
      margin-bottom: 1em;
    }
	}
}
