@use '../../scss/variables' as *;

.wrapper {
	position: fixed;
	z-index: 999;
	top: 64px;
	left: 0;
	width: 100%;

	.content {
		background-color: #fff;
		width: 100%;
		padding: 20px 20px 30px;
		max-height: calc(100vh - 64px);
		overflow-x: hidden;
		overflow-y: auto;
		filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.close {
		display: block;
		padding: 10px;
		margin-right: -10px;
		background-color: transparent;
		cursor: pointer;

		svg {
			width: 12px;
		}
	}

	.title {
		margin-bottom: 0;
	}

	@media screen and (min-width: $md) {
		top: 0;
		height: 100vh;
		background-color: rgba($dark-color, 0.4);

		.content {
			position: absolute;
			max-width: $md;
			top: 50%;
			left: 50%;
			width: calc(100% - 30px);
			transform: translate(-50%, -50%);
			border-radius: 15px;
		}
	}
}
