@use "../../../scss/variables" as *;
@use "../../../scss/font" as *;
@use "../../../scss/mixins" as *;

.wrapper {
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    @include media-lg-and-up {
        display: grid;
        gap: 12px;
        grid-template-areas: "main" "sidebar" "faq";
        grid-template-areas: "main sidebar" "faq ."; 
    }
    
    .sidebar {
        grid-area: sidebar;
        padding: 40px;
        min-height: 400px;
        border: 1px solid red;
        order: 2;
    }

    .main {
        grid-area: main;
        padding: 40px;
        border: 1px solid blue;
        order: 1;
    }

    .faq {
        grid-area: faq;
        padding: 40px;
        border: 1px solid green;
        order: 3;
    }
}

.main {
}

.stepper {
    background-color: #eee;
    padding: 12px;
    display: flex;
    gap: 16px;

    span {
        flex: 1;
        background-color: rgba($colour-secondary, 15%);
        height: 8px;
    }

  span {
    &[data-active="T"] {
        background-color: $colour-secondary;
    }
  }
}

.title {
}

.subtitle {
}

.description {
}

.content {
}

.actions {
}

.btn {
    padding: 16px 32px;
    background-color: $colour-secondary;
}

.sidebar {
    &.sidebarDesktop {
        display: none;
    }

    &.sidebarMobile {
        display: flex;
    }

    @include media-lg-and-up {
        &.sidebarMobile {
            display: none;
        }

        &.sidebarDesktop {
            display: flex;
        }
    }
}

.faq {
}

.PlanDetails {
    border: 1px solid yellow;
    padding: 30px;
    background-color: #ccc;
}
