$primary-color: #FF6A3D;
$secondary-color: #252B61;
$link-color: #1176FF;
$light-color: #fff;
$dark-color: #252B42;
$gray-color: #EFF4F9;
$success-color: #1fc198;
$danger-color: #ff4c6c;

$font-size: (
	xs: 14px,
	sm: 16px,
	md: 18px,
	lg: 22px,
	xl: 26px,
	xxl: 30px,
	xxxl: 32px,
);

$breakpoints: (
	xs: 414px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

$xs: 414px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$duration: 0.25s;
