@use '../../../scss/variables' as *;

.wrapper {
  margin-top: 36px;
	:global {
		.container {
			display: grid;
			grid-template-columns: calc(60% - 15px) calc(40% - 15px);
      gap: 30px;
			
			@media screen and (min-width: $xl) {
				grid-template-columns: calc(100% - 347px) 317px;
			}
		}
	}
}

